mat-card {
  width: 95%;
  margin: 30px auto;
  padding: 20px;
  overflow-x: auto;   /* horizontal scroll if needed */
}

table {
  width: 100%;
}

mat-card-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.table-container {
  max-height: calc(100vh - 220px);
  overflow: auto;
}